/* SECTION CAROUSEL START */
.carousel {
    padding-top: 55px;
    padding-bottom: 140px;
    background-color: #F5F5F5 !important;
}

.carousel-box {
    width: 100%;
    max-width: 279px;
    margin-bottom: 33px;
    padding: 0px 17px;
}

.carousel-title {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 187.5%;
    font-weight: 600;
    color: #222222;
}

.carousel-text {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 187.5%;
    color: #525252;
}

.slider {
    width: 100%;
    max-width: 280px;
    margin-bottom: 0px;
}



.slider-item {
    width: 280px !important;
    padding: 30px 31px 24px 28px;
    background-color: #fff;
    box-shadow: 0px 4px 94px #0000000d;
    border-radius: 20px;
}

@media only screen and (min-width: 400px) {
    .slider {
        max-width: 299px;
    }

    .slider-item {
        width: 299px !important;
    }
}

.slick-track {
    display: flex;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    transform: rotate(-180deg);
    background-repeat: no-repeat;
    background-color: #fff;
}

.slider .slick-arrow.slick-prev {
    position: absolute;
    top: 352px;
    right: 85px !important;
    border: none;
    background-image: url("../images/right.svg");
    background-position: calc(50% + 0px);
    background-size: 7px 14px;
}

.slider .slick-arrow.slick-next {
    right: 30px;
    top: 352px;
    border: none;
    background-image: url("../images/left.svg");
    background-position: calc(50% + 0px);
    background-size: 7px 14px;
}

.slider-title {
    margin-bottom: 18px;
    padding: 6px 11px;
    font-size: 14px;
    line-height: 187.5%;
    font-weight: 400;
    color: #0CBE64;
    background-color: #0cbe6426;
    border-radius: 8px;
}

.slider-title-part {
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 187.5%;
    font-weight: 600;
    color: #000000;
}

.slider-text {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 187.5%;
    color: #525252;
}

.slider-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 187.5%;
    color: #DC7000;

    &::after {
        width: 11px;
        height: 11px;
        margin-left: 9px;
        background-image: url("../images/arrow.svg");
        background-size: contain;
        content: "";
    }
}

.slick-prev {
    left: 0px;
}

.slider-dangerbg {
    background-color: #dc00001a !important;
}

.slider-tints {
    color: #B000DC !important;
    background-color: #b000dc1c !important;
}

.slider-blue {
    color: #0058DC !important;
    background-color: #0058dc17 !important;
}

.slick-prev {
    left: auto !important;
}
@media only screen and (min-width: 840px) {
    .slider {
        max-width: 1520px;
    }

    .slider-item {
        width: 378px !important;
        margin-right: 39px;
    }
}
@media only screen and (min-width: 992px) {
    .carousel {
        padding-top: 69px;
        padding-bottom: 100px;
    }

    .carousel-box {
        max-width: 596px;
        margin-bottom: 65px;
        padding-left: 54px;
    }

    .slider-item {
        width: 378px !important;
    }

    .slider-title {
        margin-bottom: 19px;
        padding: 7px 35px 6px 14px;
    }

    .slider-title-part {
        margin-bottom: 16px;
    }

    .slider-text {
        margin-bottom: 28px;
        font-size: 14px;
    }

    .carousel-title {
        font-size: 30px;
    }

    .slider .slick-arrow.slick-prev {
        top: -134px;
        right: 102px !important;
    }

    .slider .slick-arrow.slick-next {
        top: -134px;
        right: 47px !important;
    }
}

/* SECTION CAROUSEL END */